*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 10vh;
}
main{
    height: 80vh;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: #373737;
}
footer p{
    margin: 0;
    color: #fff;
}
.title-lista{
    text-align: center;
    margin: 40px 0;
}
.btn-add, .btn-rem{
    border-radius: 8px;
    padding: 6px 10px;
    margin: 0px 5px;
    border: none;
}
.container-lista{
    background-color: #f7f7f7;
    margin: 20px 0;
    height: 500px;
    width: 100%;
    border-radius: 8px;
    overflow: auto;
    padding: 25px 5px;
    box-shadow: 10px 10px 10px #b7b7b7;
}

.label-input{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    font-size: 12px;
}
.input-produto{
    width: 30%;
    margin-top: 0px;
    margin: 5px auto;
    text-align: center;
    display: flex;
    border-radius: 8px;
    height: 35px;
    border: none;
    outline: none;
    box-shadow: 5px 5px 5px #b7b7b7;
}
.container-lista li{
    position: relative;
    list-style: none;
}
.lista-itens{
    margin: 30px auto;
    width: 90%;
    display: flex;
    flex-direction: column;
}
.item-produto{
    background-color: #157347cc;
    color: #fff;
    height: 35px;
    padding: 5px;
    border-radius: 8px;
    margin-top: 10px;
    width: 80%;
    margin-right: 10px;
}
.remove-button{
    background-color: transparent;
    background-image: url('../img/icons8-full-trash-30.png');
    width: 30px;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
}
.linha-itens{
    display: flex;
}


